<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
    <properties resource="config/connection-info.properties"/>
    <typeAliases>
        <typeAlias type="pocketPal.common.model.dto.UserDTO" alias="UserDtoAliases"/>
        <typeAlias type="pocketPal.common.model.dto.MonsterDTO" alias="MonsterDTO"/>
    </typeAliases>
    <environments default="dev">
        <environment id="dev">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="pocketPal/common/model/dao/UserDAO.xml"/>
        <mapper resource="pocketPal/common/model/dao/MonsterDAO.xml"/>
    </mappers>
</configuration>