<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>main</title>
</head>
<body>

    <h1>🥤 Drink Restaurant 🥤</h1>

    <button onclick="location.href='/drink/1'">특정 음료 목록 보기</button>
    <button onclick="location.href='/drink/list'">음료 전체 목록 보기</button>

    <button onclick="location.href='/drink/querymethod'">쿼리 메소드 테스트</button>

    <button onclick="location.href='/drink/regist'">음료 등록하기</button>
    <button onclick="location.href='/drink/modify'">음료 수정하기</button>
    <button onclick="location.href='/drink/delete'">음료 삭제하기</button>

</body>
</html>