<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>main</title>
</head>
<body>

    <h1>🎞 Movie Restaurant 🎞</h1>

    <button onclick="location.href='/menu/1'">특정 영화 목록 보기</button>
    <button onclick="location.href='/menu/list'">영화 전체 목록 보기</button>

    <button onclick="location.href='/menu/querymethod'">쿼리 메소드 테스트</button>

    <button onclick="location.href='/menu/regist'">영화 등록하기</button>
    <button onclick="location.href='/menu/modify'">영화 수정하기</button>
    <button onclick="location.href='/menu/delete'">영화 삭제하기</button>

</body>
</html>