body {
    font-family: D2Coding;
    box-sizing: border-box;
    color: #ccc;
    margin: 0 auto;
    padding: 0;
}

.wrap {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.leftSide {
    background: #222;
    width: 350px;
    margin: 5px 0 5px 5px;
}

.profile {
    width: 70%;
    height: 30%;
    background-color: #009900;
    border-radius: 130px 130px 0px 0px;
    margin: 10% auto;
}

.contact {
    font-size: 32px;
    width: 100%;
    /* border: 1px solid #ff0000; */
}

.contact > p {
    border: 3px solid #009900;
    border-radius: 30px;
    padding: 5px 0 5px 0;
    width: 70%;
    text-align: center;
    margin: 0 auto;
}

.contact img {
    width: 30px;
    height: 30px;
}

.map {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    border: 1px solid #000;
}

.map p {
    font-size: 16px;
    text-align: left;
    border: 1px solid #00ff00;
    width: 70%;
}

.map p::first-line {
    font-weight: bold;
    font-size: 20px;
}

.map > div {
    width: 30%;
    text-align: right;
    background-color: #009900;
    border-radius: 0 20px 20px 0;
}