body {
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    color: #ccc;
    margin: 0 auto;
    padding: 0;
}

.wrap {
    display: flex;
    height: 100vh;
}

.leftSide {
    background-color: #333;
    width: 20%;
}

.leftSide .logo {
    border: 1px solid #ff0000;
    height: 30%;
}

.leftSide .sns {
    border: 1px solid #00ff00;
    height: 20%;
    background: #202020;
}

.leftSide .sns > ul {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.leftSide .sns img {
    width: 70%;
    /* border: 1px solid #000; */
}

.leftSide .sideWrap {
    border: 1px solid #0000ff;
    height: 50%;
}
.rightSide {
    background-color: #222;
    width: 80%;
}